/*------------------------------------------------------------------------------*/
$light-bg: #f8f8f8;
$text-color: #333;
$white: #fff;
$black: #000;

/*------------------------------------------------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    color: $text-color;
    background-color: $light-bg;
}

.card {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.2s;
    margin: 0 0 1.5rem 0;
}